In [17]:
#import the libraries
import pandas as pd
import scipy.stats as stats
import scipy

In [18]:
df = pd.read_excel('Book2.xlsx')

In [19]:
df

   Observation   A   B   C   D
0            1   8  12  18  13
1            2  10  11  12   9
2            3  12   9  16  12
3            4   8  14   6  16
4            5   7   4   8  15

In [25]:
#sliced the dataset
p = stats.f_oneway(df.iloc[:,1],df.iloc[:,2],df.iloc[:,3], df.iloc[:,4]) 
p

F_onewayResult(statistic=1.2820512820512822, pvalue=0.3143594700488932)

In [27]:
p[1]

0.3143594700488932

In [29]:
#F-critical value   #ppf gives f,t, z values 
#percent point function
scipy.stats.f.ppf(0.9, 3,16)

2.4618107532435456

In [30]:
if p[1]<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

accept null hypothesis