In [1]:
#Import all libraries
import pandas as pd
from sklearn.feature_selection import chi2
from scipy.stats import chi2_contingency
from sklearn.preprocessing import OrdinalEncoder

In [2]:
data = pd.read_csv("Costomer+OrderForm.csv")
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [3]:
data.dtypes                            #datatype of each column is categoricall

Phillippines    object
Indonesia       object
Malta           object
India           object
dtype: object

In [4]:
data.columns

Index(['Phillippines', 'Indonesia', 'Malta', 'India'], dtype='object')

In [5]:
enc = OrdinalEncoder()
enc.fit(data[['Phillippines', 'Indonesia', 'Malta', 'India']])

OrdinalEncoder()

In [6]:
data[['Phillippines', 'Indonesia', 'Malta', 'India']] = enc.transform(data[['Phillippines', 'Indonesia', 'Malta', 'India']])
data.dtypes

Phillippines    float64
Indonesia       float64
Malta           float64
India           float64
dtype: object

In [7]:
data.head(5)

   Phillippines  Indonesia  Malta  India
0           1.0        1.0    0.0    1.0
1           1.0        1.0    1.0    0.0
2           1.0        0.0    0.0    1.0
3           1.0        1.0    1.0    1.0
4           1.0        1.0    0.0    1.0

## Chi-Squared Test

In [8]:
val = chi2_contingency(data)
val

(112.74730231885849,
 1.0,
 897,
 array([[0.74793008, 0.73689052, 0.7424103 , 0.77276909],
        [0.74793008, 0.73689052, 0.7424103 , 0.77276909],
        [0.49862006, 0.49126035, 0.4949402 , 0.51517939],
        ...,
        [0.74793008, 0.73689052, 0.7424103 , 0.77276909],
        [0.99724011, 0.9825207 , 0.9898804 , 1.03035879],
        [0.49862006, 0.49126035, 0.4949402 , 0.51517939]]))

In [9]:
expected_values = val[3]
expected_values

array([[0.74793008, 0.73689052, 0.7424103 , 0.77276909],
       [0.74793008, 0.73689052, 0.7424103 , 0.77276909],
       [0.49862006, 0.49126035, 0.4949402 , 0.51517939],
       ...,
       [0.74793008, 0.73689052, 0.7424103 , 0.77276909],
       [0.99724011, 0.9825207 , 0.9898804 , 1.03035879],
       [0.49862006, 0.49126035, 0.4949402 , 0.51517939]])

In [12]:
p_value = val[0]
p_value

112.74730231885849

In [11]:
if p_value <0.05:                                  # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis